
<footer>
        <div class="f-con">
            <div class="f-col">
                <div class="f-logo-con">
                    <a id="title-link" href="#">
                        <div class="f-logo-box">
                            <div id="f-logo-box">
                                <img id="f-logo" src="/Images/logo1.png" alt="">
                            </div>
                            <h1 id="f-title">SE HuB</h1>
                        </div>
                    </a>
                </div>
                <div class="f-logo-menu">
                    <div class="f-logo-menu-inner">
                        <ul class="f-list">
                            <li><a href="#">Abdullah</a></li>
                            <li><a href="#">03157782679</a></li>
                            <li><a href="#">19101001-088@uskt.edu.pk</a></li>
                            <li><a href="#">Gujranwala</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="f-col">
                <div class="f-list-head">
                    <h1><a href="#" >Iqra Malik</a></h1>
                </div>
                <div class="f-list-body">
                    <ul class="f-list">
                        <li><a href="#" >19101001-095@uskt.edu.pk</a></li>
                        <li><a href="#" >03xxxxxxxxx</a></li>
                        <li><a href="#" >Sialkot</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col">
                <div class="f-list-head">
                    <h1><a href="#" >Hamza Butt</a></h1>
                </div>
                <div class="f-list-body">
                    <ul class="f-list">
                        <li><a href="#" >19101001-060@uskt.edu.pk</a></li>
                        <li><a href="#" >03xxxxxxxxx</a></li>
                        <li><a href="#" >Sialkot</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col">
                <div class="f-list-head">
                    <h1><a href="#" >Categories</a></h1>
                </div>
                <div class="f-list-body">
                    <ul class="f-list">
                        <li><a href="#" >Arts & Design</a></li>
                        <li><a href="#" >Programming</a></li>
                        <li><a href="#" >DataBase</a></li>
                        <li><a href="#" >English</a></li>
                        <li><a href="#" >Computer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="cpy">
        <p>Copyright 2019. All Rights Reserved.<a href="#"> Group Spartans</a></p>
    </div>