<header class="header">
    <div class="header-inner">
        <div class="row">
            <div class="inner-row" id="logo-container">
                <img id="logo" src="/images/logo1.png" alt="LOGO MISSING">
            </div>
            <div class="inner-row" id="nav-bar">
                <ul id="nav-list">
                    <li class="nav-items">Home</li>
                    <li class="nav-items">About</li>
                    <li class="nav-items">Cources</li>
                    <li class="nav-items">Contact Us</li>
                    <li class="nav-items">Login</li>
                </ul>
            </div>
        </div>
    </div>
</header>